body {
     background: #F2E2DD;
     font-family: Inter, sans-serif;
 }

/* Mobiiliversioon */

/* PÄIS */
header {
    background: #F89554;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

header h1 {
    font-size: 22px;
    font-style: italic;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

.meist {
    background: #F2E2DD;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
}

/* MAANDUMISLEHT */
 .intro {
     padding: 20px 30px;
     text-align: justify;
     font-size: 16px;
 }

 .psyhholoogideValik {
     padding: 20px 40px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 40px;
 }

 .psyhholoog {
     background: #5E8490;
     border-radius: 40px;
     padding: 25px 40px;
     margin: 0 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .psyhholoog img {
     width: 230px;
 }

.omadused {
    margin: 20px 0;
    background: #D9D9D9;
    border-radius: 20px;
    padding: 10px 25px;
}

.omadused ul li {
    margin: 4px 4px;
    font-size: 20px;
}

.valiNupp {
    background: #F2E2DD;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 28px;
}

.outro {
    padding: 20px 30px;
    text-align: justify;
    font-size: 16px;
}

/* MEIST */
.sisu {
    display: flex;
    flex-direction: column;
    margin: 40px 30px;
}

.tutvustus {
    background: #5E8490;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}

.pildid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 30px 0 30px;
}

.pildid img {
    width: 300px;
}

/* PSÜHHOLOOGID */
.psyhholoog1 {
    background: #5E8490;
    height: fit-content;
    border-radius: 40px;
    padding: 25px 40px;
    margin: 0 30px 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.psyhholoog1 img {
    width: 230px;
}

 /* JALUS */
footer {
    background: #426C79;
    padding: 10px 25px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kontaktinfo li {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    margin: 10px 0;
}

.sotsmeedia {
    text-align: right;
    float: right;
    display: flex;
    flex-direction: column;
}

.sotsmeedia a {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
}

.sotsmeedia a img {
    padding-left: 10px;
    width: 20px;
}

@media only screen and (min-width: 1000px) {
    /* PÄIS */
    header {
        padding: 15px 50px;
    }

    header h1 {
        font-size: 40px;
    }

    .meist {
        font-size: 36px;
    }

    /* MAANDUMISLEHT */
    .intro {
        padding: 20px 60px;
        text-align: center;
        font-size: 20px;
    }

    .psyhholoogideValik {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: auto;
    }

    .psyhholoog {
        margin: 0 30px;
    }

    .psyhholoog img {
        width: 200px;
    }

    .omadused ul li {
        font-size: 18px;
    }

    .outro {
        padding: 20px 60px;
        text-align: center;
        font-size: 20px;
    }

    /* MEIST */
    .sisu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 40px 80px;
        gap: 80px;
    }

    .tutvustus {
        padding: 40px;
        font-size: 20px;
    }

    .pildid {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pildid img {
        width: 300px;
    }

    /* PSÜHHOLOOGID */
    .psyhholoog1 {
        margin: 0;
    }
    .psyhholoog1 img {
        width: 200px;
    }

    /* JALUS */
    .kontaktinfo li {
        font-size: 20px;
    }

    .sotsmeedia a {
        margin: 4px 0;
        font-size: 20px;
    }

    .sotsmeedia a img {
        width: 28px;
    }
}